body{
    font-family: sans-serif;
}

.progress-bar{
    width:500px;
    height:20px;
    background-color: aqua;
    border-radius: 20px;
}

.progress{
    height:20px;
    background-color: red;
    width: 50%;
    display: block;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s;
}