body{
    font-family: sans-serif;
}

.pop-up{
    background-color: rgba(0, 0, 255,0.3);
    backdrop-filter: blur(6px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* display: none; */
}

.inner-div{
    background-color: white;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    position: relative;
    border-radius: 20px;
}

.inner-div input{
    display: block;
    width: 90%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: aliceblue;
}

.inner-div button{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.close{
    position: absolute;
    top: 5px;
    right: 8px;
    background-color: rgb(207, 214, 219);
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}