@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.myheading{
    color: white;
    background-color: blue;
    text-align: center;
}
.bg-green{
    background-color: green;
}
.text-white{
    color: white;
}
.padding{
    padding: 10px 40px 5px 100px;
    margin: 50px;
    border: 5px;
}